import site
# Fix this with your path, also keep an eye on the python version
site.addsitedir('/srv/www/<hostname>/VIRTUALENV/lib/python2.6/site-packages/')
site.addsitedir('/srv/www/<hostname>/')

import sys, os
os.chdir(os.path.dirname(__file__))

import bottle
import app
application = bottle.default_app()
